<p id="notice"><%= notice %></p>

<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Group Users:</strong>
  <% @group.users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
        (
        <% user.roles.each do |r| %>
          <% if r.resource_id == @group.id %>
            <%= r.name %>
          <% end %>
        <% end %>
        )
    </li>
  <% end %>
</p>

<% if !current_user.groups.include?(@group) %>
  <%= form_tag join_group_path(@group) do %>
    <button type="submit" class="btn btn-lg">Join</button>
  <% end %>
<% else %>
  <%= form_tag leave_group_path(@group) do %>
    <%= link_to "Leave", { action: 'leave_group' }, class: 'btn btn-lg', method: 'delete', data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<% if can? :manage, @group %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_path %>

<p>
  <strong>Group User Post</strong>
  <table>
    <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td>by <%= post.user.name %></td>
        <% if current_user.has_role? :group_manager, @group or can? :manage, post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<%= form_with model: Message.new do |form| %>
  <%= hidden_field_tag :type, 'group' %>
  <%= hidden_field_tag :receiver_id, @group.id %>

  <%= form.file_field :images, multiple: true %>
  <%= form.fields_for :post, Post.new do |post_form| %>
    <%= post_form.text_area :content %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
