<%= form_for(@book) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents %>
  </div>

  <div class="field"%>
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher %>
  </div>

  <%= form.fields_for :posts do |posts_field| %>
    <!-- has_many belongs_to에 의해 books_controler의 edit 액션을 호출하면 book과 관련된 모든 post가 올라온다. -->
    <%= posts_field.text_area :content %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
