<p id="notice"><%= notice %></p>

<p>
  <strong>Book Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @book.contents %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<%= render partial: "posts/posts", locals: { postable: @book } %>
<%= render partial: "posts/form", locals: { postable: @book } %>

<% if can? :manage, @book %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', books_path %>
