<p id="notice"><%= notice %></p>

<p>
  <strong>Book Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @book.contents %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>책짹</strong>
<%= render partial: "posts/posts", locals: { postable: @book } %>
<%#= render partial: "posts/form", locals: { postable: @book } %>
<!-- 이렇게 해서 넘길려면 posts form이 postable과 post를 함께 받을 수 있게 해야 한다. -->

  <%= form_with(model: [@book, Post.new]) do |form| %>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</p>

<% if can? :manage, @book %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', books_path %>
