<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Postable Type</th>
      <th>Postable</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.user.name, post.user %></td>
        <td><%= post.postable_type %></td>

        <% if post.postable_type == 'Book' %>
          <td><%= Book.find(post.postable_id).title %></td>
        <% elsif post.postable_type == 'Message' %>
          <td>메시지</td>
        <% else %>
          <td>이게 대체 뭐니</td>
        <% end %>

        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>

        <% if can? :manage, post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'New Post', new_post_path %>
</p>
<p>
  <%= link_to 'New Book', new_book_path %>
</p>
<p>
  <%= link_to 'Books', books_path %>
</p>
<p>
  <%= link_to 'Groups', groups_path %>
</p>
<p>
  <%#= link_to 'New Message', new_message_path %>
</p>
<p>
  <strong>Message</strong>
  <%#= render partial: "posts/form", locals: { postable: Message.create } %>
  <!-- 헐 Message.new 또는 controller에서 @message = Message.new로 넘길때는 nil이 넘어갔었는데...-->
  <!-- create로 하니까 한 방에 넘어가네ㅠㅠ -->
  <!-- 근데 여기서 넘겨도 결국 post controller에서 redirection할 곳이 달라지기 때문에 하나로 통일할 이유가 없음 -->

  <%#= render partial: "messages/form", locals: { postable: Message.new } %>
  <!-- 결국 모든 문제는 form 때문이었음... -->
  <%= form_with model: Message.new do |form| %>
    <!-- 자기 자신한테 남기는 글 -->
    <%= hidden_field_tag :type, 'user' %>
    <%= hidden_field_tag :receiver_id, current_user.id %>

    <%= form.file_field :images, multiple: true %>
    <%= form.fields_for :post, Post.new do |post_form| %>
      <%= post_form.text_area :content %>
    <% end %>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</p>
