<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Postable Type</th>
      <th>Postable</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= post.postable_type %></td>

        <% if post.postable_type == 'Book' %>
          <td><%= Book.find(post.postable_id).title %></td>
        <% elsif post.postable_type == 'Message' %>
          <td>메시지</td>
        <% else %>
          <td>이게 대체 뭐니</td>
        <% end %>

        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>

        <% if can? :manage, post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'New Post', new_post_path %>
</p>
<p>
  <%= link_to 'New Book', new_book_path %>
</p>
<p>
  <%= link_to 'Books', books_path %>
</p>
<p>
  <%#= link_to 'New Message', new_message_path %>
</p>
<p>
  <strong>Message</strong>
  <%#= render partial: "posts/form", locals: { postable: @message } %>
  <%#= render partial: "form", locals: { postable: @message } %>
  <%= render partial: "form", locals: { postable: Message.new } %>
  <!-- 결국 모든 문제는 form 때문이었음... -->
</p>
