<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<% if @post.postable_type == 'Book'%>
  <p><strong>Title: </strong><%= @post.postable.title %></p>
  <p><strong>Contents: </strong><%= @post.postable.contents %></p>
  <p><strong>ISBN: </strong><%= @post.postable.isbn %></p>
  <p><strong>Publisher: </strong><%= @post.postable.publisher %></p>
<% elsif @post.postable_type == 'Message' %>
  <% @post.postable.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
<% else %>
  <h1>이건 책도 메시지도 아니여...</h1>
<% end %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if can? :manage, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
